:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --bgc-text-hero: #fff;
  --hero-bgc: #2f303a;
  --benefits: #5f2020;
  --zaholovokh2: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgc-text-hero);
  color: var(--primary-text-color);
  list-style: none;
}

.zaholovok {
  font-size: 36px;
  line-height: 42px;
  color: var(--zaholovokh2);
}

/*------------------------------------------------------ header------------------------ */
.list {
  list-style: none;
}
.labe {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.active-studio {
  color: var(--accent-color);
}
.active-portfolio {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}
.studio {
  color: #000000;
}
.serif {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link:focus {
  color: var(--accent-color);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mailtel .mt {
  color: var(--benefits);
}
.mailtel .mt:hover {
  color: var(--accent-color);
}
.mailtel .mt:focus {
  color: var(--accent-color);
}

.mt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* -------------------------------------------hero--------------------------------- */
.hero {
  background-color: var(--hero-bgc);
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--bgc-text-hero);
}
/* ----------------------------------------button-- */
.button {
  color: var(--bgc-text-hero);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:hover {
  color: #188ce8;
}
/* ----------------------------------------benefits */

.title-benefits {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits {
  font-size: 14px;
  line-height: 1.71;
  color: var(--benefits);
}
/* ------------------------------------comand-master--------------- */

.name-master {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.job-master {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
}
/* ----------------------------foter-------------- */

.footer-list {
  list-style: none;
}
.foter {
  background-color: var(--hero-bgc);
}
.studio-footer {
  color: var(--bgc-text-hero);
}
.footer-href {
  color: var(--bgc-text-hero);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.transparent {
  color: rgba(255, 255, 255, 0.6);
}
