:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --bgc-text-hero: #fff;
  --hero-bgc: #2f303a;
  --benefits: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgc-text-hero);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.labe {
  font-family: 'Raleway';
  color: var(--accent-color);
}
.studio {
  color: #000000;
}
/* site nav */
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--hero-bgc);
}
.title-hero {
  color: var(--bgc-text-hero);
}
.benefits {
  color: var(--benefits);
}

/* button */
.button {
  background-color: var(--accent-color);
  color: var(--bgc-text-hero);
}
